:root {
  --font: ui-sans-serif, system-ui, sans-serif;

  --background-color: rgb(243 244 246);

  --card-color: rgb(255 255 255);

  --button-text-color: rgb(255 255 255);
  --button-background-color: rgb(17 24 39);
  --button-background-color-hover: rgb(49, 65, 88);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: var(--font);
  background-color: var(--background-color);
}

main {
  padding: 1rem;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

main > div {
  width: 100%;
  max-width: 24rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--card-color);

  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);

  text-align: center;
}

#avatar {
  border: 4px solid rgb(209 213 219);
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
}

header {
  margin-top: 1rem;
}

header > h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0;
}

header > p {
  color: rgb(107 114 128);
  margin: 0.25rem 0 0 0;
}

nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav > a {
  display: block;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  width: 100%;
  font-weight: 500;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;

  transition-property: color;
  transition-duration: 150ms;
}

nav > a:hover {
  background-color: var(--button-background-color-hover);
}

#icons {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

#icons > a > svg {
  width: 1.5rem;
  color: rgb(156 163 175);

  transition-property: color;
  transition-duration: 150ms;
}

#icons > a > svg:hover {
  color: rgb(69, 85, 108);
}
